h3 {
    margin-bottom: 0;
}

.add {
    color           : white;
    background-color: transparent;
    margin          : 20px;
    padding         : 0;
    border          : 2px solid blue;
    border-radius   : 20px;
    font-size       : 20px;

    p {
        margin : 0;
        padding: 10px 15px;
        cursor : pointer;
    }

    &:hover {
        opacity: 0.5;
    }
}

.blog-content {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-evenly;

    .box {
        border       : 5px solid green;
        border-radius: 50px;
        padding      : 40px 20px;
        margin-bottom: 40px;
        width        : 25%;

        .title {
            width        : 100%;
            height       : 20px;
            margin-bottom: 35px;
            padding      : 10px;
        }

        .content {
            height       : 200px;
            overflow     : hidden;
            margin-bottom: 20px;
        }

        .button {
            display        : flex;
            justify-content: center;

            .view {
                display         : flex;
                color           : white;
                background-color: transparent;
                border          : 5px solid green;
                border-radius   : 20px;
                text-decoration : none;

                p {
                    font-size  : 18px;
                    font-weight: 600;
                    margin     : 0;
                    padding    : 10px;
                }
            }
        }

    }
}