form {
    width        : 100%;
    padding      : 20px;
    border       : 2px solid gray;
    border-radius: 20px;

    .input-data {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        margin         : 20px;

        label {
            margin-right: 10px;
        }

        input {
            width : 65%;
            height: 25px;
        }
    }

    .button {
        display        : flex;
        justify-content: center;
    }

    button {
        font-size    : 14px;
        font-weight  : 600;
        padding      : 5px 25px;
        border       : 2px solid green;
        border-radius: 20px;

        &:hover {
            opacity: 0.5;
        }
    }
}